
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section js{
    <script type="text/javascript">
        var vm = new Vue({
            el: '#content',
            data: {
                OldPwd: "",
                NewPwd: "",
                ReNewPwd: "",
                OldPwdMsg: "",
                NewPwdMsg: "",
                ReNewPwdMsg:"",
            },
            methods: {
                rePassword: function () {
                    var _this = this;
                    if (_this.OldPwd == "") {
                        this.NewPwdMsg = "";
                        this.ReNewPwdMsg = "";
                        this.OldPwdMsg = "原密码不能为空";
                        return;
                    }else if (_this.NewPwd == "") {
                        this.OldPwdMsg = "";
                        this.NewPwdMsg = "新密码不能为空";
                        return;
                    }else if (_this.ReNewPwd == "") {
                        this.NewPwdMsg = "";
                        this.ReNewPwdMsg = "确认密码不能为空";
                        return;
                    } else if (_this.OldPwd == _this.NewPwd) {
                        this.ReNewPwdMsg = "";
                        this.NewPwdMsg = "新密码不能和原密码一致";
                        return;
                    } else if (_this.ReNewPwd != _this.NewPwd) {
                        this.NewPwdMsg = "";
                        this.ReNewPwdMsg = "确认密码和新密码不一致";
                        return;
                    } else {
                        axios.get('/Home/SelPassword?oldPwd=' + _this.OldPwd + '&newPwd=' + _this.NewPwd).then(res => {
                            if (res.data == "no") {
                                alert("密码输入错误！");                               
                            } else {
                                alert("密码已修改！");
                                window.location.href="/Home/Index";
                            }
                        })
                    }
                    
                },               
            },
            
        });
    </script>
}
<link href="~/css/person.css" rel="stylesheet" />
<div id="content">
    <div class="person_content">
        <h2>修改密码</h2>
        <div class="person_form">
            <div class="left">
                <div class="row">
                    <span class="title">原密码：</span>
                    <span class="info">
                        <input name="txtOldPwd" type="password" id="ContentPlaceHolder1_txtOldPwd" v-model="OldPwd" class="input" />{{OldPwdMsg}}
                    </span>
                    
                </div>
                <div class="row">
                    <span class="title">新密码：</span>
                    <span class="info">
                        <input name="txtNewPwd" v-model="NewPwd" type="password" id="ContentPlaceHolder1_txtNewPwd" class="input" />{{NewPwdMsg}}
                    </span>
                   
                </div>
                <div class="row">
                    <span class="title">确认密码：</span>
                    <span class="info">
                        <input name="txtReNewPwd" type="password" id="ContentPlaceHolder1_txtReNewPwd" v-model="ReNewPwd" class="input" />{{ReNewPwdMsg}}
                    </span>
                   
                </div>
                <div class="row_btn">
                    <input type="submit" name="ctl00$ContentPlaceHolder1$btnUpdate" value="保存" id="ContentPlaceHolder1_btnUpdate" class="btn_select" v-on:click="rePassword()" />
                </div>
            </div>
            <div class="right">
                <img src="~/images/person.bmp" />
            </div>
        </div>
    </div>
</div>

